<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace=" ~{fragments/head :: head}">
    <title></title>
</head>
<body id="bodyContext">
<header th:replace="~{fragments/noScroll-navbar :: navbar}">

</header>
<!--<div th:replace="~{fragments/spacer :: spacer(15)}"></div>-->


    <div id="layout-content" class="position-absolute top-0" layout:fragment="content">
    </div>

</body>
</html>