<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OnedayToday</title>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/axios.js}"></script>
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <script>
        // Toggle Animation by Class
        window.addEventListener('scroll', function () {
            if (window.scrollY > 100) {
                document.querySelector('nav').classList.add('animate');
            } else {
                document.querySelector('nav').classList.remove('animate');
            }
        });

    </script>
</head>
