<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <div class="sidebar-container position-absolute top-0 overflow-hidden d-flex flex-column vh-100 flex-shrink-0 py-3 text-white ">
        <!--        sidebar header-->
        <div class="align-items-center m-0 mt-3 text-white text-decoration-none row">

            <h5 class=" ms-5 col">Create</h5>

        </div>
        <hr>
        <!--        sidebar body-->
        <ul class="sidebar">
            <li class="sidebar-item" onclick="handleSidebarItemClick(this)">
                <!--                data part-->
                <div data-input="data" class="data-type-input">
                    <div class="saveType" style="display: none"></div>
                    <div class="saveData" style="display: none"></div>
                    <div class="saveData_input" style="display: none"></div>
                    <div class="saveHTML" style="display: none"></div>
                    <script>
                        document.querySelector('.saveType').value = 'header';
                        // document.querySelector('.saveData_input').value = ["","",""];
                    </script>
                </div>


                <div class="nav-link text-white col ps-0 d-flex justify-content-between align-items-center"
                     aria-current="page">
                    <span class="item-numbering" style="display: none">Q0</span>
                    <span>INTRO</span>
                    <span class="item-title ms-2">제목을 입력하세요</span>
                    <div class="btn-group" onclick="stopPropagation(event)">
                        <!-- popper button -->
                        <div type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="ms-3">기능</div>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <!--                         0: 객관식 1: OX 2: likert 3: 주관식 4: 별점 5: 다중선택        -->
                            <li>
                                <div class="dropdown-item" data-type="0" onclick="handleSideBarCreatButtonByType(this)">
                                    객관식
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item" data-type="1" onclick="handleSideBarCreatButtonByType(this)">
                                    OX
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item" data-type="2" onclick="handleSideBarCreatButtonByType(this)">
                                    LIKERT
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item" data-type="3" onclick="handleSideBarCreatButtonByType(this)">
                                    주관식
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item" data-type="4" onclick="handleSideBarCreatButtonByType(this)">
                                    별점
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item" data-type="5" onclick="handleSideBarCreatButtonByType(this)">
                                    다중선택 객관식
                                </div>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="dropdown-item" data-type="delete"
                                     onclick="handleSideBarCreatButtonByType(this)">삭제
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sidebar-footer">
<!--                제출 버튼-->
                <div class="sidebar-submit-button" onclick="handleSidebarSubmitButtonClick(this)">제출</div>
            </li>
        </ul>

    </div>

</div>

</body>
</html>