<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/defaultLayout}">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <h1 th:inline="text">Hello [[${#authentication.name}]]!</h1>
        <div>
            <h2>Welcome, <span sec:authentication="name"></span></h2>
            <p>Your roles: <span sec:authentication="principal.authorities"></span></p>
        </div>
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <p>Admin</p>
        </div>
        <div th:if="${#authorization.expression('hasRole(''USER'')')}">
            <p>User</p>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <p>You are logged in.</p>
        </div>

    </div>
</div>
</body>
</html>