<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/noScroll-Layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>




<!--    main content-->
    <div class="container main-content main-content-toggle">
        <div class="text-white  overflow-hidden">

        Main Content
        </div>
    </div>



</div>
</body>
</html>