<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/noScroll-Layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <script th:inline="javascript">
        /* [[${registrationRSDTO}]] 값을 JavaScript 객체로 파싱 */
        let registrationRSDTO = /*[[${registrationRSDTO}]]*/ {};
        console.log(registrationRSDTO)
    </script>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!--    main content-->
<!--    여기는 하드코딩으로 바꿔야함-->
    <div class="main-content-container">
        <div class="text-info">
            Main Content
        </div>
        <div class="main-content d-flex p-0 m-0 pt-3">
            <!--                hide scroll bar by cover another div-->
            <div class="d-flex col">
                <div id="question-number" class="col-1 d-flex justify-content-end me-3">
                    <span>1</span>
                    <span>-></span>
                </div>

                <div class="col-11 pe-5">
                    <label>
                        <textarea placeholder="질문을 입력하세요" oninput="handleQuestionItemType0Input(this)"></textarea>
                    </label>

                    <ul class="question-list m-0 p-0">
<!--                        <li class="question-item d-flex col justify-content-evenly" draggable="true">-->
<!--                            <div class="item-numbering col-1">1</div>-->
<!--                            <textarea class="col-8" placeholder="보기를 입력하세요" oninput="handleQuestionItemType0Input(this)"></textarea>-->
<!--                            <button class="question-item-delete col-1 btn btn-toolbar shadow-none bg-transparent" onclick="handleQuestionItemDeleteButtonClick(this)">-->
<!--                                <span>del</span>-->
<!--                            </button>-->
<!--                        </li>-->
                    </ul>
                    <div onclick="handleQuestionAddButtonOnMainContent(this)">질문 추가</div>

                </div>


            </div>
        </div>


        <!--    토글 버튼-->
        <button class="sidebar-toggle shadow-none bg-transparent btn btn-toolbar">
            <img alt="" src="/img/white-burger-menu-icon.png" width="10px" height="10px">
        </button>
    </div>

</div>
</body>
</html>