<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/defaultLayout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5 mb-3">
        <div>
            <h1 class="text-white">Research List</h1>
            <div class="d-flex justify-content-end">
                <a href="/research/create" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>

        <div class="container mt-5 mb-3">
            <div id="rs-list" class="row">

<!--                <div class="card-container col-md-4">-->
<!--                    <div class="card p-3 mb-2">-->

<!--                        <div class="d-flex justify-content-between">-->
<!--                            <div class="d-flex flex-row align-items-center">-->
<!--                                <div class="ms-2 c-details">-->
<!--                                    <h6 class="mb-0">${rs.rs_title}</h6>-->
<!--                                    <span>1 days ago</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="mt-1">-->
<!--                            <div class="badge badge-bg-almost"> <span>마감임박</span> </div>-->
<!--                            <div class="badge badge-bg-progress"> <span>작성중</span> </div>-->
<!--                            <div class="badge badge-bg-end"> <span>종료됨</span> </div>-->
<!--                        </div>-->

<!--                        <div class="mt-5">-->
<!--                            <h3 class="heading">${rs.rs_desc}</h3>-->
<!--                            <div class="mt-5">-->
<!--                                <div class="progress">-->
<!--                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <div class="mt-3"> <span class="text1"> <span class="text2">${rs} - ${rs}</span></span> </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div>-->
<!--                            <a class="btn btn-primary"><span>수정</span></a>-->
<!--                            <a class="btn btn-secondary"><span>삭제</span></a>-->
<!--                            <a class="btn btn-danger"><span>시작</span></a>-->
<!--                            <a class="btn btn-info"><span>결과</span></a>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->


            </div>

        </div>
    <div id="loading"></div>
    <script th:inline="javascript">
        /* [[${userRoles}]] 값을 JavaScript 객체로 파싱 */
        let userRoles = /*[[${userRoles}]]*/ {};
        let userNames = /*[[${userNames}]]*/ '';

        // console.log(userRoles);
        // 사용자 권한 확인 예시
        // if (userRoles.includes('ROLE_ADMIN')) {

    </script>


    <!-- 스크롤 이벤트를 감지하는 JavaScript 코드 -->
    <script th:fragment="infinite-scroll">
        let page = 1;
        let size = 30;

        function createCard(rs) {

            let temp = []
            const currentDate = new Date();

            const startDate = new Date(rs.rs_start_date);
            const endDate = new Date(rs.rs_end_date);

            const totalTime = endDate - startDate;

            const elapsedTime = currentDate - startDate;

            const progress = (elapsedTime / totalTime) * 100;

            let daysAgo = Math.floor((currentDate - startDate) / (1000 * 60 * 60 * 24));
            if(daysAgo === 0)
                daysAgo = '오늘'
            else if(daysAgo === 1)
                daysAgo = '어제'
                else if (daysAgo > 1)
                daysAgo = daysAgo + '일 전'
            else
                // 음수인 경우 양수로 변경
                daysAgo = daysAgo * -1 + '일 후'

            // head
            temp.push(
                `
                <div class="card-container col-md-4 my-3">
                    <div class="card p-3 mb-2">
                `
            )
            // body
            temp.push(
                `
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">${rs.rs_title}</h6>
                                    <span>${daysAgo}</span>
                                </div>
                            </div>
                        </div>
                `
            )


            temp.push(
                `
                        <div class="mt-1">
                `
            )

            if(progress >= 100)
                temp.push(
                    `
                            <div class="badge badge-bg-end"> <span>종료됨</span> </div>
                    `
                )
            else if(progress >= 80)
                temp.push(
                    `
                            <div class="badge badge-bg-almost"> <span>마감임박</span> </div>
                    `
                )
            else if(progress >= 0)
                temp.push(
                    `
                            <div class="badge badge-bg-progress"> <span>조사중</span> </div>
                    `
                )
            else
                temp.push(
                    `
                            <div class="badge badge-bg-end"> <span>시작전</span> </div>
                    `
                )



            temp.push(
                `
                        </div>
                `
            )


            temp.push(
                `
                    <div class="mt-5">
                        <h3 class="heading">${rs.rs_desc}</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: ${progress}%" aria-valuenow="${progress}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1"> <span class="text2">${rs.rs_start_date} - ${rs.rs_end_date}</span></span> </div>
                        </div>
                    </div>
                `
            )

            temp.push(
                `<div>`
            )

            // todo 여기 조건에 설문 날짜에 대한 조건을 추가해야함
            temp.push(
                userRoles.includes('ROLE_USER') ?
                    `
                            <a href="/research/read/${rs.rs_seq}" class="btn btn-info"><span>참여</span></a>
<!--                            <a href="/research/delete/${rs.rs_seq}" class="btn btn-info"><span>수정</span></a>-->
                    `
                    : ``
            )
            // 현재 접속한 사용자의 아이디와 게시글의 작성자 아이디가 같은 경우에만 수정 삭제 버튼이 보이도록 함
            if (userNames === rs.username||userRoles.includes('ROLE_ADMIN')) {
                temp.push(
                    `
                        <a href="/research/update/${rs.rs_seq}" class="btn btn-primary">수정</a>
                        <a href="/research/delete/${rs.rs_seq}" class="btn btn-danger">삭제</a>
                    `
                )
            }

            temp.push(
                `
                </div>
                `
            )





            // tail
            temp.push(
                `
                    </div>
                </div>
                `)

            return temp.join('')
        }

        let noMoreData = false;

        function loadMoreData() {
            return $.get("/research/list2?page=" + page + "&size=" + size, function (data) {
                // console.log(data.rsList);
                if (data.rsList.length === 0) {
                    if (!noMoreData) alert("마지막 데이터입니다.");
                    noMoreData = true;
                    return;
                }
                page++;
                data.rsList.forEach(function (rs) {
                    let rsCard = createCard(rs);
                    $("#rs-list").append(rsCard);
                });
            });
        }

        let isLoading = false;
        let timer;
        $(window).scroll(function () {
            if (noMoreData) return;
            if ($(window).scrollTop() + $(window).height() + 10 >= $(document).height()) {

                if (!timer) {
                    timer = setTimeout(() => {
                        timer = null;
                        loadMoreData().then(function () {
                            isLoading = false;
                            handleLoading(isLoading);
                        });
                    }, 1000);
                } else {
                    isLoading = true;
                    handleLoading(isLoading);
                }
            }
        });

        $(document).ready(function () {
            loadMoreData(); // 페이지 로드 시 초기 데이터 로드
        });

        function handleLoading(isLoading) {
            if (noMoreData) {
                $("#loading").html(
                    `<div class="d-flex justify-content-center">
                        <div class="alert alert-primary" role="alert">
                          end of data
                        </div>
                      </div>`
                )
                return;
            }

            if (isLoading) {
                $("#loading").html(
                    `<div class="d-flex justify-content-center">
                        <div class="spinner-border text-light" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>`
                )
            } else {
                $("#loading").html("")
            }
        }
    </script>


</div>
</body>
</html>