<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/noScroll-Layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="main-content-container hide d-flex justify-content-center mt-5">
        <div class="answer-content-header d-flex justify-content-start">
            <span class="text-danger">
                설문 조사
            </span>
            <span>
                <span id="currentQNum">0</span>
                <span>/</span>
                <span th:text="${research.rs_cnt}"></span>
            </span>
        </div>
        <div class="main-content answer-content-body">
            <!--                hide scroll bar by cover another div-->

        </div>
<!--        애니메이션 처리 -->
<!--        <div class="main-content answer-content before">-->

<!--        </div>-->

<!--        <div class="main-content answer-content after">-->

<!--        </div>-->
<!--        currentRsiNo-->
        <div class="answer-content-footer row-cols-3 d-flex justify-content-between w-100 m-0 px-2" id="prevnextButtons">
            <button class="btn btn-toolbar col-auto border-dark" onclick="handleAnswerPage('<')">이전 문제</button>
            <button class="btn btn-toolbar col-auto border-dark" onclick="handleAnswerPage('>')">다음 문제</button>
        </div>

    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const rsiList = [[${rsiList}]];
        const userName = [[${username}]];
        const userRole = [[${userRoles}]];
        const research = [[${research}]];
        console.log(rsiList);
        console.log(userName);
        console.log(userRole);
        console.log(research);
        /*]]>*/
        let answerList = [
            {
                rs_seq: research.rs_seq,
                username: userName
            },
            // 주의할 점은 type5 도 type0 형태로 저장 된다.
            // {
            //     type: "0",
            //     no: "1",
            //     answerList: []
            // }
        ];
    </script>
    <script th:src="@{/js/readform-answerContent.js}"></script>
</div>
</body>
</html>