<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/noScroll-Layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!--    main content-->
    <!--    여기는 하드코딩으로 바꿔야함-->
    <div class="main-content-container">
        <div class="text-info">
            Main Content
        </div>
        <div class="main-content d-flex p-0 m-0 pt-3">
            <!--                hide scroll bar by cover another div-->
            <div class="d-flex col">
                <div id="question-number" class="col-1 d-flex justify-content-end me-3">
                    <span style="display: none">0</span>
                    <span class="text-white">정보입력</span>
                    <span>-></span>
                </div>

                <div class="col-11 pe-5">
                    <textarea placeholder="제목을 입력하세요" oninput="handleTextAreaInput(this, 'Q')"></textarea>

                    <textarea placeholder="부연 설명 (optional)" oninput="autoResizeTextArea(this)"></textarea>

                    <div class="d-flex justify-content-between row">
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <div class="col-4">
                                    <span class="text-white">시작일</span>
                                </div>
                                <div class="col-8">
                                    <input type="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <div class="col-4">
                                    <span class="text-white">종료일</span>
                                </div>
                                <div class="col-8">
                                    <input type="date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--    토글 버튼-->
        <button class="sidebar-toggle shadow-none bg-transparent btn btn-toolbar" onclick="toggleAnimation(this)">
            <img alt="" src="/img/white-burger-menu-icon.png" width="10px" height="10px">
        </button>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const rsiList = [[${rsiList}]];
        const rsrList = [[${rsrList}]];
        const rsrSubList = [[${rsrSubList}]];
        const userName = [[${username}]];
        const research = [[${research}]];
        console.log("research", research);
        console.log("rsiList", rsiList);
        console.log("rsrList", rsrList);
        console.log("rsrSubList", rsrSubList);
        /*]]>*/
    </script>
    <script>
        function initUpdatePage(){


        }

    </script>

</div>
</body>
</html>