<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/defaultLayout}">
<head>
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
<!--    loginError-->
    <div th:if="${loginError}">
        <p th:text="${loginError}"></p>
    </div>
    <div class="login-page">
        <form class="login-form" th:action="@{/auth/login}" method="post">
            <input type="text" placeholder="Username" name="username"/>
            <input type="password" placeholder="Password" name="password"/>
            <button type="submit">로그인</button>
        </form>
    </div>
</div>


</body>
</html>
